<a class="scroll-point pt-top" name="top">
</a>
<div class="container">
    <div id="header">
        <div class="wrap">
            <a class="logo" href="/"></a>
            <div class="menu">
                <a href="/#about">About</a>
                <a href="/#contribute">Contribute</a>
                <a href="/#mailing-list">Mailing List</a>
                <a href="/#download">Download</a>
                <a href="/#links">Quick Links</a>
                <a href="/blog">Blog</a>
            </div>
            <form class="menu-dropdown">
                <select onchange="location = this.options[this.selectedIndex].value;">
                    <option value="/#about">About</option>
                    <option value="/#contribute">Contribute</option>
                    <option value="/#mailing-list">Mailing List</option>
                    <option value="/#download">Download</option>
                    <option value="/#links">Quick Links</option>
                    <option value="/blog">Blog</option>
                </select>
            </form>
        </div>
        <div class="shadow"></div>

    </div> <!-- /header -->
    <div class="header-placeholder"></div>
