<a class="scroll-point" name="links"></a>
<hr/>

<div class="wrap quick-links-pane">
    <h2 class="icon icon-quick-links">Quick Links</h2>
    <br/>
    <ul class="quick-links-header">
        <li>General</li>
        <li>Development</li>
        <li class="last">Apache Software Foundation</li>
    </ul>
    <div class="clear"></div>
</div>

<div class="grid">
    <div class="wrap">
        <div class="list-container">
            <ul class="list quick-links">
                <li class="corner"></li>
                <li><a href="{{ site.url }}/#about">About Cordova<span></span></a></li><li><a href="http://projects.apache.org/projects/cordova.html">Apache Project Page<span></span></a></li><li><a href="http://www.apache.org/licenses/LICENSE-2.0">License<span></span></a></li><li><a href="{{ site.url }}/artwork.html">Artwork<span></span></a></li>
            </ul>

            <ul class="list quick-links">
                <li class="corner"></li>
                <li><a href="index.html#download">Download<span></span></a></li><li><a href="https://git-wip-us.apache.org/repos/asf">Source Code<span></span></a></li><li><a href="http://cordova.apache.org/docs/en/2.9.0/">Documentation<span></span></a></li><li><a href="index.html#mailing-list">Mailing List<span></span></a></li><li><a href="https://issues.apache.org/jira/browse/CB">Issue Tracker<span></span></a></li><li><a href="http://wiki.apache.org/cordova/">Wiki<span></span></a></li>
            </ul>

            <ul class="list quick-links last">
                <li class="corner"></li>
                <li><a href="http://www.apache.org/">About ASF<span></span></a></li><li><a href="http://www.apache.org/foundation/thanks.html">Thanks<span></span></a></li><li><a href="http://www.apache.org/foundation/sponsorship.html">Become a Sponsor<span></span></a></li><li><a href="http://www.apache.org/security/">Security<span></span></a></li>
            </ul>

            <div class="clear"></div>
        </div>
    </div>
</div>
