<a class="scroll-point pt-top" name="top">
</a>
<div id="header">
    <div class="wrap">
        <a class="logo" href="{{ site.url }}#top"></a>
        <div class="menu">
            <a href="{{ site.url }}#about">About</a>
            <a href="{{ site.url }}#contribute">Contribute</a>
            <a href="{{ site.url }}#mailing-list">Mailing List</a>
            <a href="{{ site.url }}#download">Download</a>
            <a href="{{ site.url }}#links">Quick Links</a>
            <a href="{{ site.url }}blog">Blog</a>
        </div>
        <form class="menu-dropdown">
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option value="{{ site.url }}#about">About</option>
                <option value="{{ site.url }}#contribute">Contribute</option>
                <option value="{{ site.url }}#mailing-list">Mailing List</option>
                <option value="{{ site.url }}#download">Download</option>
                <option value="{{ site.url }}#links">Quick Links</option>
                <option value="{{ site.url }}blog">Blog</option>
            </select>
        </form>
    </div>
    <div class="shadow"></div>
</div> <!-- /header -->
<div class="header-placeholder"></div>